body{
  text-align: center;
  background-color: #D3E0DC;
}

nav{
  background-color: black;
    font-style: italic;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.8;
}
.container{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
